apiVersion: v1
kind: Service
metadata:
  name: kubetest-service
spec:
  selector:
    app: second-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer


---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubetest
spec:
  replicas: 3
  selector:
    matchLabels:
      app: second-app
      tier: backend
  template:
    metadata:
      labels:
        app: second-app
        tier: backend
    spec:
      containers:
        - name: kubetest-1
          image: einav1206/kube-test:2


          